* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: #d6d6d6;
  width: 100%;
  height: 100vh;
  font-family: "input-sans-narrow", sans-serif;
}

body #principal {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body #principal .mobileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 9999;
  -webkit-transform: translateY(-800px);
          transform: translateY(-800px);
  opacity: 0;
  background-color: rgba(13, 13, 13, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
  transition: border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s linear;
  transition: transform 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
  pointer-events: none;
}

body #principal .mobileHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #principal .mobileHeader ul li {
  list-style: none;
  width: 50%;
  height: 32px;
  text-align: center;
}

body #principal .mobileHeader ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

body #principal .scroll {
  position: fixed;
  right: 16px;
  bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "input-sans-narrow", sans-serif;
  z-index: 900;
}

body #principal .scroll .scroll1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 30px;
}

body #principal .scroll .scroll1 hr {
  width: 0px;
  border: solid 1px #feda4e;
}

body #principal .scroll .scroll2 h3 {
  pointer-events: none;
  font-weight: 100;
}

body #principal .scroll .scroll3 {
  width: 30px;
}

body #principal .scroll .scroll3 hr {
  width: 30px;
  border: solid 1px #feda4e;
}

body #principal .home {
  background: #202020;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  scroll-snap-align: start;
}

body #principal .home header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3rem 5rem 0 5rem;
}

body #principal .home header .logo a {
  font-size: 3rem;
  font-weight: 900;
  text-decoration: none;
  color: white;
  line-height: 0.6;
  text-align: center;
  position: relative;
  font-family: "Heebo";
  -webkit-transition: text-shadow .5s ease-in-out;
  transition: text-shadow .5s ease-in-out;
}

body #principal .home header .logo a .puntos {
  position: absolute;
  -webkit-transform: translateX(5px) rotate(90deg);
          transform: translateX(5px) rotate(90deg);
  color: #feda4e;
}

body #principal .home header .logo a:hover {
  text-shadow: 0px 0px 5px black;
}

body #principal .home header .logo a:hover .puntos {
  text-shadow: none;
  -webkit-animation: puntos 0.6s ease-in-out both;
          animation: puntos 0.6s ease-in-out both;
}

@-webkit-keyframes puntos {
  0% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(450deg) translateY(-5px);
            transform: rotate(450deg) translateY(-5px);
  }
}

@keyframes puntos {
  0% {
    -webkit-transform: rotate(0) translateY(0px);
            transform: rotate(0) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(450deg) translateY(-5px);
            transform: rotate(450deg) translateY(-5px);
  }
}

body #principal .home header .menu .toggleHeader {
  display: none;
  z-index: 10000;
}

body #principal .home header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

body #principal .home header .menu ul li {
  list-style: none;
}

body #principal .home header .menu ul li a {
  text-decoration: none;
  color: #feda4e;
  font-family: "input-sans-narrow", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body #principal .home .front {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 80%;
}

body #principal .home .front .front1 {
  margin-left: -400px;
  margin-bottom: 1rem;
  pointer-events: fill;
}

body #principal .home .front .front1 h3 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 0.2 0.4 0.5;
  font-family: "input-sans-narrow", sans-serif;
}

body #principal .home .front .front2 {
  margin: 0 auto;
  cursor: default;
}

body #principal .home .front .front2 h1 {
  position: relative;
  font-size: 10rem;
  line-height: 0.8;
  margin: auto;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  -webkit-transition: text-shadow 1s ease-in-out;
  transition: text-shadow 1s ease-in-out;
  font-family: "Heebo";
}

body #principal .home .front .front2 h1 .spanFront {
  position: absolute;
  right: 60px;
  bottom: 55px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #feda4e;
}

body #principal .home .front .front2 h1 .spanFront .frontPunto1 {
  position: absolute;
  -webkit-animation: dot 2s linear infinite;
          animation: dot 2s linear infinite;
  bottom: -10px;
  right: 10px;
}

body #principal .home .front .front2 h1 .spanFront .frontPunto2 {
  position: absolute;
  -webkit-animation: dot 2s linear infinite .5s;
          animation: dot 2s linear infinite .5s;
  bottom: -10px;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body #principal .home .front .front2:hover ~ .front3 {
  color: #feda4e;
}

body #principal .home .front .front3 {
  margin-left: 400px;
  margin-top: 1rem;
  pointer-events: fill;
  -webkit-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

body #principal .home .front .front3 h3 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
  font-family: "input-sans-narrow", sans-serif;
}

body #principal .home #social {
  position: absolute;
  bottom: 48px;
  left: 32px;
  font-family: "input-sans-narrow", sans-serif;
}

body #principal .home #social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

body #principal .home #social ul li {
  list-style: none;
}

body #principal .home #social ul li a {
  color: #d6d6d6;
  overflow: hidden;
  font-size: 1.2rem;
}

body #principal .home #social ul li a i {
  position: relative;
  margin-right: 10px;
  font-size: 1.5rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: #feda4e;
}

body #principal .home #social ul li a span {
  position: absolute;
  overflow: hidden;
  height: 20px;
  width: 100px;
  font-size: 1.2rem;
}

body #principal .home #social ul li a span .socialspan {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

body #principal .home #social ul li a:hover .socialspan {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

body #principal #about {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  background: #202020;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#0d0d0d));
  background: linear-gradient(180deg, #202020 0%, #0d0d0d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #principal #about .aboutTittle {
  width: 100%;
  top: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-top: 2%;
}

body #principal #about .aboutTittle .aboutTittleh2 {
  width: 70%;
  text-align: center;
  font-size: 12vw;
  color: transparent;
  text-shadow: 0px 0px 1px rgba(150, 150, 150, 0.5);
  background-clip: text;
}

body #principal #about .aboutTittle .aboutTittleh2 span {
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  color: transparent;
}

body #principal #about .aboutTittle .aboutTittleh2 #aa:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #bb:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #oo:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #uu:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #tt:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #mm:hover {
  color: #feda4e;
}

body #principal #about .aboutTittle .aboutTittleh2 #ee:hover {
  color: #feda4e;
}

body #principal #about .aboutContainer {
  position: relative;
  z-index: 10;
  width: 1500px;
  height: 650px;
  margin-top: 10%;
  background-color: #202020;
  -webkit-box-shadow: 1px -5px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 1px -5px 30px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'about skills' 'about what';
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 35% 64%;
      grid-template-columns: 35% 64%;
  gap: 16px;
}

body #principal #about .aboutContainer .desc {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #principal #about .aboutContainer .desc img {
  border-radius: 50%;
  border: 2px solid #feda4e;
  margin-bottom: 2rem;
}

body #principal #about .aboutContainer .desc p {
  text-align: center;
  width: 90%;
}

body #principal #about .aboutContainer .desc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

body #principal #about .aboutContainer .desc ul li {
  list-style: none;
}

body #principal #about .aboutContainer .desc ul li a i {
  font-size: 2rem;
  color: #feda4e;
}

body #principal #about .aboutContainer .skills {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: skills;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #principal #about .aboutContainer .skills h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
  font-size: 4rem;
  margin-right: 1rem;
}

body #principal #about .aboutContainer .skills .skillContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  -ms-grid-columns: 150px 150px 150px;
      grid-template-columns: 150px 150px 150px;
  gap: 15px;
  padding: 1rem;
}

body #principal #about .aboutContainer .skills .skillContainer .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #feda4e;
}

body #principal #about .aboutContainer .skills .skillContainer .skill i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #202020;
}

body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
  color: #202020;
}

body #principal #about .aboutContainer .what {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: what;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #principal #about .aboutContainer .what h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

body #principal #about .aboutContainer .what .whatContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #principal #about .aboutContainer .what .whatContainer .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #principal #about .aboutContainer .what .whatContainer .service i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #feda4e;
}

body #principal #about .aboutContainer .what .whatContainer .service h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

body #principal #about .aboutContainer .what .whatContainer .service p {
  width: 90%;
  font-size: .8rem;
  text-align: center;
}

body #principal #projects {
  background-color: #0d0d0d;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

body #principal #projects h2 {
  font-family: "input-sans-narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: default;
}

body #principal #projects #wave {
  position: absolute;
  top: 0;
  -webkit-filter: drop-shadow(0px 5px 20px black);
          filter: drop-shadow(0px 5px 20px black);
  z-index: 500;
  pointer-events: none;
}

body #principal #projects #wave path {
  fill: #0d0d0d;
}

body #principal #projects .projectsTittle {
  width: 100%;
  top: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-top: 5%;
}

body #principal #projects .projectsTittle .projectsTittleh2 {
  width: 70%;
  text-align: center;
  font-size: 12vw;
  color: transparent;
  text-shadow: 0px 0px 1px rgba(150, 150, 150, 0.5);
  background-clip: text;
}

body #principal #projects .projectsTittle .projectsTittleh2 span {
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  color: transparent;
}

body #principal #projects .projectsTittle .projectsTittleh2 #p:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #r:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #o:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #j:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #e:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #c:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #t:hover {
  color: #feda4e;
}

body #principal #projects .projectsTittle .projectsTittleh2 #s:hover {
  color: #feda4e;
}

body #principal #projects .projects-container {
  position: relative;
  width: 70%;
  min-height: 550px;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px -5px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 1px -5px 30px rgba(0, 0, 0, 0.5);
  z-index: 10;
  margin-top: 10%;
  overflow: hidden;
}

body #principal #projects .projects-container .btns-mov-carrousel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #principal #projects .projects-container .btns-mov-carrousel .btn-carrousel {
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10000;
}

body #principal #projects .projects-container .btns-mov-carrousel .btn-carrousel i {
  font-size: 2rem;
  color: #feda4e;
}

body #principal #projects .projects-container .btns-mov-carrousel .btn-carrousel:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(50%, #202020), color-stop(90%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, #202020 50%, rgba(0, 0, 0, 0) 90%);
}

body #principal #projects .card {
  position: absolute;
  background-color: #0f0f0f;
  height: 100%;
  -webkit-transition: visibility 0.2s ease-in-out, 0.4s ease-in-out;
  transition: visibility 0.2s ease-in-out, 0.4s ease-in-out;
}

body #principal #projects .card .img-card {
  position: relative;
}

body #principal #projects .card .img-card .imgHover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 40px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

body #principal #projects .card .img-card .imgHover .hoverLi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  z-index: 600;
  cursor: pointer;
}

body #principal #projects .card .img-card .imgHover .hoverLi a i {
  font-size: 3rem;
  pointer-events: none;
  -webkit-transition: -webkit-filter .5s ease-in-out;
  transition: -webkit-filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
  color: #feda4e;
}

body #principal #projects .card .img-card .imgHover .hoverLi h3 {
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  font-size: 1rem;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  pointer-events: none;
  text-align: center;
  color: #d6d6d6;
}

body #principal #projects .card .img-card .imgHover .hoverLi:hover {
  -webkit-filter: drop-shadow(0px 0px 20px black);
          filter: drop-shadow(0px 0px 20px black);
}

body #principal #projects .card .img-card .imgHover .hoverLi:hover .hoverLiName {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body #principal #projects .card .img-card img {
  width: 350px;
}

body #principal #projects .card .img-card:hover .imgHover {
  opacity: 1;
}

body #principal #projects .card .info-card {
  position: absolute;
  z-index: 10;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: -20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: 0px 0px 20px #464646;
}

body #principal #projects .card .info-card h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 40px #363636;
  color: #feda4e;
}

body #principal #projects .card .info-card p {
  font-family: "input-sans-compressed", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

body #principal #projects .card .info-card .technologies h2 {
  font-size: 1rem;
  color: #d6d6d6;
}

body #principal #projects .card .info-card .used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #principal #projects .card .info-card .used .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #principal #projects .card .info-card .used .tech i {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

body #principal #projects .card .info-card .used .tech h3 {
  font-size: 0.8rem;
  position: absolute;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

body #principal #projects .card .info-card .used .tech:hover i.fa-js-square {
  color: #ffee00;
}

body #principal #projects .card .info-card .used .tech:hover i.fa-html5 {
  color: #e42e01;
}

body #principal #projects .card .info-card .used .tech:hover i.fa-css3-alt {
  color: #1462f3;
}

body #principal #projects .card .info-card .used .tech:hover i.fa-sass {
  color: #bb3b65;
}

body #principal #projects .card .info-card .used .tech:hover i.fa-bootstrap {
  color: #772baa;
}

body #principal #projects .card .info-card .used .tech:hover h3 {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  opacity: 1;
}

body #principal #projects .card-active {
  z-index: 50;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

body #principal #projects .card-active .img-card {
  width: 350px;
}

body #principal #projects .card-active .info-card {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

body #principal #projects .card-left {
  pointer-events: none;
  z-index: 10;
  -webkit-transform: translateX(-450px) perspective(2000px) rotateY(-40deg) scale(0.9);
          transform: translateX(-450px) perspective(2000px) rotateY(-40deg) scale(0.9);
  opacity: .5;
}

body #principal #projects .card-left .imgHover {
  display: none;
}

body #principal #projects .card-left::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -20px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(53%, rgba(15, 15, 15, 0.774)), to(#0f0f0f));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 15, 0.774) 53%, #0f0f0f 100%);
  z-index: 1000;
}

body #principal #projects .card-right {
  pointer-events: none;
  z-index: 10;
  -webkit-transform: translateX(450px) perspective(2000px) rotateY(40deg) scale(0.9);
          transform: translateX(450px) perspective(2000px) rotateY(40deg) scale(0.9);
  opacity: .5;
}

body #principal #projects .card-right .imgHover {
  display: none;
}

body #principal #projects .card-right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: -20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(53%, rgba(15, 15, 15, 0.774)), to(#0f0f0f));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 15, 0.774) 53%, #0f0f0f 100%);
  z-index: 1000;
}

body #principal #projects .card-left-non {
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
  -webkit-transform: translateX(-600px) perspective(2000px) rotateY(-90deg) scale(0.6);
          transform: translateX(-600px) perspective(2000px) rotateY(-90deg) scale(0.6);
  opacity: .2;
}

body #principal #projects .card-left-non .imgHover {
  display: none;
}

body #principal #projects .card-left-non::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -20px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(53%, rgba(15, 15, 15, 0.774)), to(#0f0f0f));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 15, 0.774) 53%, #0f0f0f 100%);
  z-index: 1000;
}

body #principal #projects .card-right-non {
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
  -webkit-transform: translateX(600px) perspective(2000px) rotateY(90deg) scale(0.6);
          transform: translateX(600px) perspective(2000px) rotateY(90deg) scale(0.6);
  opacity: .2;
}

body #principal #projects .card-right-non .imgHover {
  display: none;
}

body #principal #projects .card-right-non::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: -20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(53%, rgba(15, 15, 15, 0.774)), to(#0f0f0f));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(15, 15, 15, 0.774) 53%, #0f0f0f 100%);
  z-index: 1000;
}

@media screen and (max-width: 1600px) {
  body #principal #about .aboutContainer {
    width: 1200px;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 3.5rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 120px 120px;
        grid-template-rows: 120px 120px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #202020;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    color: #202020;
  }
  body #principal #about .aboutContainer .what {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: what;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: .9rem;
  }
}

@media screen and (max-width: 1366px) {
  body #principal #about .aboutContainer {
    width: 1200px;
    height: 580px;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 3.2rem;
    margin-right: 3rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 120px 120px;
        grid-template-rows: 120px 120px;
    -ms-grid-columns: 130px 130px 130px;
        grid-template-columns: 130px 130px 130px;
    padding: 0rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #202020;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    color: #202020;
  }
  body #principal #about .aboutContainer .what {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: what;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: .9rem;
  }
  body #principal #projects .projects-container {
    min-height: 500px;
  }
}

@media screen and (max-width: 1280px) {
  body #principal #about .aboutContainer {
    width: 1100px;
    height: 520px;
  }
  body #principal #about .aboutContainer .desc {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  body #principal #about .aboutContainer .desc img {
    width: 150px;
  }
  body #principal #about .aboutContainer .desc p {
    font-size: .9rem;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 2.8rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #202020;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    color: #202020;
  }
  body #principal #about .aboutContainer .what {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: what;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: .9rem;
  }
  body #principal #projects .projects-container {
    min-height: 450px;
  }
  body #principal #projects .projects-container .card .img-card {
    width: 300px;
  }
  body #principal #projects .projects-container .card .img-card img {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  body #principal #about .aboutContainer {
    position: relative;
    z-index: 10;
    width: 900px;
    height: 1000px;
    margin-top: 0;
    padding: 2rem;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'about' 'skills' 'what';
    -ms-grid-rows: 200px 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 32px;
  }
  body #principal #about .aboutContainer .desc {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'photo p' 'photo  nav';
    -ms-grid-columns: 1fr 70%;
        grid-template-columns: 1fr 70%;
    -ms-grid-rows: 80% 1fr;
        grid-template-rows: 80% 1fr;
    width: 100%;
  }
  body #principal #about .aboutContainer .desc img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: photo;
    width: 180px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  body #principal #about .aboutContainer .desc p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: p;
    font-size: 1.1rem;
    width: 100%;
  }
  body #principal #about .aboutContainer .desc nav {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: nav;
  }
  body #principal #about .aboutContainer .desc nav ul {
    margin-top: 0;
  }
  body #principal #about .aboutContainer .desc nav ul li a {
    height: 100%;
  }
  body #principal #about .aboutContainer .desc nav ul li a i {
    font-size: 2.5rem;
  }
  body #principal #about .aboutContainer .skills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 4rem;
    margin-right: 1rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 150px 150px;
        grid-template-rows: 150px 150px;
    -ms-grid-columns: 150px 150px 150px;
        grid-template-columns: 150px 150px 150px;
  }
  body #principal #about .aboutContainer .what {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 3.7rem;
    margin-bottom: 0;
  }
  body #principal #about .aboutContainer .what .whatContainer .service i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  body #principal #about .aboutContainer .what .whatContainer .service p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  body #principal #about .aboutContainer {
    width: 960px;
    height: 520px;
        grid-template-areas: 'about skills' 'about what';
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 30% 68%;
        grid-template-columns: 30% 68%;
  }
  body #principal #about .aboutContainer .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body #principal #about .aboutContainer .desc img {
    width: 150px;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  body #principal #about .aboutContainer .desc p {
    font-size: .8rem;
    margin-bottom: 1rem;
  }
  body #principal #about .aboutContainer .desc nav ul li a i {
    font-size: 1.5rem;
  }
  body #principal #about .aboutContainer .skills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
    -ms-grid-columns: 120px 120px 120px;
        grid-template-columns: 120px 120px 120px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #202020;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    font-size: 1rem;
    color: #202020;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service i {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: .8rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service p {
    font-size: .7rem;
  }
}

@media screen and (max-width: 991px) {
  body #principal .home .front .front2 h1 {
    font-size: 8rem;
  }
  body #principal #projects .projects-container {
    min-height: 400px;
  }
  body #principal #projects .projects-container .card .img-card {
    width: 250px;
  }
  body #principal #projects .projects-container .card .img-card img {
    width: 250px;
  }
  body #principal #projects .projects-container .card .info-card {
    width: 300px;
    height: 80px;
    bottom: 80px;
  }
  body #principal #projects .projects-container .card .info-card h2 {
    font-size: 1.5rem;
  }
  body #principal #projects .projects-container .card .info-card p {
    font-size: 1rem;
  }
  body #principal #projects .projects-container .card .info-card .technologies h2 {
    font-size: .8rem;
  }
  body #principal #projects .projects-container .card .info-card .used i {
    font-size: 1rem;
  }
  body #principal #about .aboutContainer {
    width: 720px;
    height: 900px;
  }
  body #principal #about .aboutContainer .desc img {
    width: 150px;
  }
  body #principal #about .aboutContainer .desc p {
    font-size: 1rem;
  }
  body #principal #about .aboutContainer .desc nav ul li a i {
    font-size: 1.5rem;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 3rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 120px 120px;
        grid-template-rows: 120px 120px;
    -ms-grid-columns: 120px 120px 120px;
        grid-template-columns: 120px 120px 120px;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 2.5rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service i {
    font-size: 2rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    font-size: .9rem;
  }
  body #principal #about .aboutContainer .what .whatContainer .service p {
    font-size: .8rem;
  }
}

@media screen and (min-height: 700px) and (max-width: 820px) {
  body #principal #projects .projectsTittle {
    margin-top: 15%;
  }
  body #principal #projects .projects-container {
    min-height: 600px;
  }
  body #principal #projects .projects-container .card .img-card {
    width: 350px;
  }
  body #principal #projects .projects-container .card .img-card img {
    width: 350px;
  }
  body #principal #projects .projects-container .card .img-card .info-card {
    height: 250px;
    bottom: 200px;
  }
  body #principal #projects .projects-container .card .img-card .info-card h2 {
    font-size: 2rem;
  }
  body #principal #projects .projects-container .card .img-card .info-card p {
    font-size: 1.5rem;
  }
  body #principal #projects .projects-container .card .img-card .info-card .technologies h2 {
    font-size: 1.2rem;
  }
  body #principal #projects .projects-container .card .img-card .info-card .technologies .used i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  body #principal .mobileHeaderActivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    border-radius: 0;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: all;
    -webkit-transition: border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
    transition: border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s linear;
    transition: transform 1s ease-in-out, border-radius 1s ease-in-out, opacity 1s linear, -webkit-transform 1s ease-in-out;
  }
  body #principal .home header .menu ul {
    display: none;
  }
  body #principal .home header .menu .toggleHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 40px;
    height: 30px;
    top: 10%;
  }
  body #principal .home header .menu .toggleHeader .lineTop {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    top: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  body #principal .home header .menu .toggleHeader .lineCenter {
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
  }
  body #principal .home header .menu .toggleHeader .lineBottom {
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    bottom: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  body #principal .home header .menu .toggleActivo .lineTop {
    width: 40px;
    border-radius: 5px;
    top: 0;
    -webkit-transform: rotate(-45deg) translateY(17px);
            transform: rotate(-45deg) translateY(17px);
  }
  body #principal .home header .menu .toggleActivo .lineCenter {
    -webkit-transform: scale(0);
            transform: scale(0);
    bottom: 0;
    top: 0;
  }
  body #principal .home header .menu .toggleActivo .lineBottom {
    -webkit-transform: rotate(45deg) translateY(-17px);
            transform: rotate(45deg) translateY(-17px);
    bottom: 0;
  }
  body #principal .home .front .front1 {
    margin-left: -350px;
  }
  body #principal .home .front .front2 h1 {
    font-size: 6rem;
  }
  body #principal .home .front .front2 h1 .spanFront {
    right: 35px;
    bottom: 32px;
  }
  body #principal .home .front .front3 {
    margin-left: 280px;
  }
  body #principal .scroll {
    right: -16px;
  }
  body #principal #projects .card .img-card .imgHover .hoverLi h3 {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  body #principal #about .aboutContainer {
    width: 600px;
    height: 850px;
    -ms-grid-rows: 180px 220px 1fr;
        grid-template-rows: 180px 220px 1fr;
    margin-top: 2rem;
  }
  body #principal #about .aboutContainer .desc {
    -ms-grid-rows: 80% 1fr;
        grid-template-rows: 80% 1fr;
    height: 180px;
  }
  body #principal #about .aboutContainer .desc img {
    width: 130px;
  }
  body #principal #about .aboutContainer .desc p {
    font-size: .9rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 100px 100px;
        grid-template-rows: 100px 100px;
    -ms-grid-columns: 100px 100px 100px;
        grid-template-columns: 100px 100px 100px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 2.5rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    font-size: 1rem;
  }
  body #principal #about .aboutContainer .what {
    display: block;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  body #principal #about .aboutContainer .what .whatContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 576px), (max-height: 450px) {
  body #principal .scroll {
    display: none;
  }
  body #principal .mobileHeader ul li a {
    font-size: 1.5rem;
  }
  body #principal .home .header {
    padding: 1.2rem 1rem;
  }
  body #principal .home .header .logo a {
    font-size: 2rem;
  }
  body #principal .home .header .logo .puntos {
    -webkit-transform: translateX(2px) rotate(90deg);
            transform: translateX(2px) rotate(90deg);
  }
  body #principal .home .header .menu .toggleHeader {
    top: 5%;
    right: 5%;
  }
  body #principal .home .header .menu .toggleHeader .lineTop {
    width: 30px;
  }
  body #principal .home .header .menu .toggleHeader .lineCenter {
    width: 30px;
  }
  body #principal .home .header .menu .toggleHeader .lineBottom {
    width: 30px;
  }
  body #principal .home .front {
    width: 100%;
    margin: 30% auto auto auto;
  }
  body #principal .home .front .front1 {
    margin-left: -200px;
  }
  body #principal .home .front .front1 h3 {
    font-size: 1rem;
  }
  body #principal .home .front .front2 h1 {
    font-size: 4rem;
  }
  body #principal .home .front .front2 h1 .spanFront .frontPunto1 {
    bottom: 5px;
    left: -10px;
  }
  body #principal .home .front .front2 h1 .spanFront .frontPunto2 {
    bottom: 5px;
    left: 10px;
  }
  body #principal .home .front .front3 {
    margin-left: 150px;
  }
  body #principal .home .front .front3 h3 {
    font-size: 1rem;
  }
  body #principal .home #social {
    bottom: 16px;
    left: 16px;
  }
  body #principal .home #social ul li a i {
    font-size: 1rem;
  }
  body #principal #about .aboutTittle {
    margin-top: 25px;
  }
  body #principal #about .aboutContainer {
    width: 350px;
    height: 530px;
    padding: .5rem;
    margin-top: 4rem;
        grid-template-areas: 'about' 'skills' 'what';
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 150px 150px 1fr;
        grid-template-rows: 150px 150px 1fr;
    gap: 0;
  }
  body #principal #about .aboutContainer .desc {
    display: -ms-grid;
    display: grid;
    height: 150px;
        grid-template-areas: 'photo p' 'nav p';
    -ms-grid-rows: 70% 1fr;
        grid-template-rows: 70% 1fr;
  }
  body #principal #about .aboutContainer .desc img {
    width: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  body #principal #about .aboutContainer .desc p {
    font-size: 10px;
    margin-bottom: 0;
    width: 90%;
    margin: auto;
  }
  body #principal #about .aboutContainer .desc nav ul {
    gap: 1rem;
  }
  body #principal #about .aboutContainer .desc nav ul li a i {
    font-size: 1rem;
  }
  body #principal #about .aboutContainer .skills h2 {
    font-size: 2rem;
  }
  body #principal #about .aboutContainer .skills .skillContainer {
    -ms-grid-rows: 62px 62px;
        grid-template-rows: 62px 62px;
    -ms-grid-columns: 62px 62px 62px;
        grid-template-columns: 62px 62px 62px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill i {
    font-size: 2rem;
    margin-bottom: 8px;
  }
  body #principal #about .aboutContainer .skills .skillContainer .skill h3 {
    font-size: .6rem;
  }
  body #principal #about .aboutContainer .what h2 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 14px;
  }
  body #principal #about .aboutContainer .what .whatContainer {
    margin-top: 16px;
  }
  body #principal #about .aboutContainer .what .whatContainer .service {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'i p' 'h3 p';
    -ms-grid-rows: 40% 1fr;
        grid-template-rows: 40% 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body #principal #about .aboutContainer .what .whatContainer .service i {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: i;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
  }
  body #principal #about .aboutContainer .what .whatContainer .service h3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: h3;
    text-align: center;
    font-size: 8px;
    margin-bottom: 0;
  }
  body #principal #about .aboutContainer .what .whatContainer .service p {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: p;
    font-size: 8px;
  }
  body #principal #projects .projectsTittle {
    margin-top: 15%;
  }
  body #principal #projects .projects-container {
    min-height: 500px;
    width: 100%;
  }
  body #principal #projects .projects-container .card .info-card {
    width: 250px;
    bottom: 130px;
    left: 0px;
  }
  body #principal #projects .projects-container .card .img-card {
    width: 300px;
  }
  body #principal #projects .projects-container .card .img-card img {
    width: 300px;
  }
  body #principal #projects .projects-container .card .img-card .imgHover .hoverLi a i {
    font-size: 1.5rem;
  }
  body #principal #projects .projects-container .card .img-card .imgHover .hoverLi h3 {
    font-size: 1rem;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@media screen and (max-height: 450px) {
  body #principal .scroll {
    display: none;
  }
  body #principal .home .front {
    margin: auto;
  }
  body #principal .home .front .front2 h1 .spanFront {
    right: 35px;
    bottom: 32px;
  }
  body #principal #projects .projectsTittle {
    margin-top: 3%;
  }
  body #principal #projects .projects-container {
    width: 70%;
    min-height: 250px;
  }
  body #principal #projects .projects-container .card .img-card {
    width: 150px;
  }
  body #principal #projects .projects-container .card .img-card img {
    width: 150px;
  }
  body #principal #projects .projects-container .card .info-card {
    width: 160px;
    bottom: 40px;
    left: -10px;
  }
  body #principal #projects .projects-container .card .info-card h2 {
    font-size: 1rem;
  }
  body #principal #projects .projects-container .card .info-card p {
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  body #principal #projects .projects-container .card-left {
    -webkit-transform: translateX(-200px) perspective(2000px) rotateY(-40deg) scale(0.9);
            transform: translateX(-200px) perspective(2000px) rotateY(-40deg) scale(0.9);
  }
  body #principal #projects .projects-container .card-right {
    -webkit-transform: translateX(200px) perspective(2000px) rotateY(40deg) scale(0.9);
            transform: translateX(200px) perspective(2000px) rotateY(40deg) scale(0.9);
  }
}
/*# sourceMappingURL=style.css.map */